
   <h2> I am Content! Here's one of the awesomest individuals of the last century!:</h2>
    <div class='center_image'>
        <img  src="img/tribute-page-main-image.jpeg" alt="profile_image">
        
    </div>
    
