
   <h1> I am a header</h1>
    <nav>
        <ul>
            <li><a href="/#footer">click me to go to the footer, yay!</a></li>
            <li><a href="/#content">click me to go to the content part!</a></li>
        </ul>
    </nav>

