<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/content.css">
    <link rel="stylesheet" href="css/header.css">
    <title>Document</title>
</head>

<body>
    <div class='wrapper'>
        <div class='header'>
            {{>header}}
        </div>

        {{!TODO-- Content will be replaced by some graphs on the runs and the median stuff --}}
        {{!-- <div>
            {{graph}}
        </div> --}}
        <div class='content' id='content'>
            
            {{>content}}
        </div>
        {{!TODO:-- We will add form to get details about runs...someone can work on this on --}}
        {{!-- <div>
            {{>run_form}}
        </div> --}}

        <div class='footer' id='footer'>
            {{>footer}}
        </div>



    </div>



</body>

</html>