*{
    margin: 0;
    padding: 0;
    font-family:cursive;
}
html{
    scroll-behavior: smooth;
}
.hero{
    width: 100%;
    margin: auto;
}
.navbar{
    position: fixed;
    margin: 30px auto;
    display: flex;
    align-items: center;
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}
ul li a{
    text-decoration: none;
    color: #000000;
    padding:0 10px;
    position: relative;
}
a:hover{
    background-color:green;
}





#section1 {
    height: 800px;
    display: inline-block;
    width: 100%;
}

#section2 {
    height: 800px;
    background: yellowgreen;
    display: inline-block;
    width: 100%;
}

#section3 {
    height: 800px;
    background: pink;
    display: inline-block;
    width: 100%;
}

#section4 {
    height: 800px;
    background: yellowgreen;
    display: inline-block;
    width: 100%;
}

h1 {
    margin: 100px;
    text-align: center;
    padding: 0;
}
.navbar-icons img{
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.navbar-icons{
    margin-left: 20px;
}
.banner{
    display: flex;
    margin-top: 80px;
}
.left-column, .right-column{
    flex-basis: 50%;
}
.right-column img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} 
.search-box{
    width: 45%;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 30px;

}
.search-box img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.search-box input{
    width: 100%;
    margin-left: 15px;
    font-size: 17px;
    border: 0;
    outline: none;
}
.left-column h1{
    font-size: 70px;
}
.left-column p{
    font-size: 35px;
    color: #999999;
    margin: 50px 0;
}
span{
    color: green;
}
.btn button{
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #2c6638;
    border-radius: 20px;
    cursor: pointer;
    color: green;
    background: transparent;
}
.btn  .primary-btn{
    background: linear-gradient(#74e992, #7cd466);
    box-shadow: 0 2px 15px rgba(93, 226, 66, 0.26);
    color: #fff;
}
.btn{
    margin-bottom: 50px;
}
.social-icons{
    width: 200px;
    text-align: center;
    opacity: .4;
}
.social-icons img{
    height:20px;
    margin: 0 14px;
}